WCF/QLbanhang/WindowsFormsApp1/Connected Services/ServiceReference1/QLbanhang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QLbanhang" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QLbanhang" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ChatLieu">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaChatLieu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenChatLieu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatLieu" nillable="true" type="tns:ChatLieu" />
  <xs:complexType name="ArrayOfChatLieu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatLieu" nillable="true" type="tns:ChatLieu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatLieu" nillable="true" type="tns:ArrayOfChatLieu" />
</xs:schema>