WCF/QLbanhang/WindowsFormsApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/QLbanhang" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertChatLieu_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertChatLieu" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertChatLieu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertChatLieuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateChatLieu_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatLieu" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateChatLieu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatLieuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DelChatLieu_InputMessage">
    <wsdl:part name="parameters" element="tns:DelChatLieu" />
  </wsdl:message>
  <wsdl:message name="IService1_DelChatLieu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelChatLieuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatLieu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatLieu" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatLieu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatLieuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckDup_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDup" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckDup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDupResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertChatLieu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertChatLieu" message="tns:IService1_InsertChatLieu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertChatLieuResponse" message="tns:IService1_InsertChatLieu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChatLieu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateChatLieu" message="tns:IService1_UpdateChatLieu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateChatLieuResponse" message="tns:IService1_UpdateChatLieu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelChatLieu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DelChatLieu" message="tns:IService1_DelChatLieu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DelChatLieuResponse" message="tns:IService1_DelChatLieu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAll" message="tns:IService1_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllResponse" message="tns:IService1_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatLieu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetChatLieu" message="tns:IService1_GetChatLieu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetChatLieuResponse" message="tns:IService1_GetChatLieu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckDup" message="tns:IService1_CheckDup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckDupResponse" message="tns:IService1_CheckDup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChatLieu">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertChatLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChatLieu">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateChatLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelChatLieu">
      <soap:operation soapAction="http://tempuri.org/IService1/DelChatLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatLieu">
      <soap:operation soapAction="http://tempuri.org/IService1/GetChatLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDup">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckDup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QLbanhang/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>