WCF/QLSVDoanKhiem/WindowsFormsApp1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TungQLSV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TungQLSV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diem" type="xs:float" />
      <xs:element minOccurs="0" name="Lop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaSV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TenSV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinhVien" nillable="true" type="tns:SinhVien" />
  <xs:complexType name="ArrayOfSinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinhVien" nillable="true" type="tns:SinhVien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinhVien" nillable="true" type="tns:ArrayOfSinhVien" />
</xs:schema>