WCF/QLSVDoanKhiem/WindowsFormsApp1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53928/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53928/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53928/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TungQLSV" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ThemSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_ThemSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuaSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_SuaSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_XoaSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_XoaSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LayDanhSachSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDanhSachSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_LayDanhSachSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDanhSachSinhVienResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ThemSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ThemSinhVien" message="tns:IService1_ThemSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ThemSinhVienResponse" message="tns:IService1_ThemSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuaSinhVien" message="tns:IService1_SuaSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuaSinhVienResponse" message="tns:IService1_SuaSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/XoaSinhVien" message="tns:IService1_XoaSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/XoaSinhVienResponse" message="tns:IService1_XoaSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDanhSachSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LayDanhSachSinhVien" message="tns:IService1_LayDanhSachSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LayDanhSachSinhVienResponse" message="tns:IService1_LayDanhSachSinhVien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/ThemSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/SuaSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/XoaSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDanhSachSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/LayDanhSachSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53928/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>