WCF/TungQLSV/WindowsFormsApp1/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53928/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TungQLSV" />
  <xs:element name="ThemSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TungQLSV" minOccurs="0" name="sv" nillable="true" type="q1:SinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemSinhVienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TungQLSV" minOccurs="0" name="sv" nillable="true" type="q2:SinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaSinhVienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maSV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSinhVienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachSinhVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TungQLSV" minOccurs="0" name="LayDanhSachSinhVienResult" nillable="true" type="q3:ArrayOfSinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>